@model CampeonatoAjedrezAPI.Areas.HOTEL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOTEL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBREHOTEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREHOTEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRNUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRNUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRCALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRCALLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRCP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_HOTEL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
