@model CampeonatoAjedrezAPI.Areas.HOTEL_PARTICIPANTE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOTEL_PARTICIPANTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOTEL.NOMBREHOTEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEL.NOMBREHOTEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARTICIPANTE.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARTICIPANTE.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_FINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_FINAL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
