@model IEnumerable<CampeonatoAjedrezAPI.Areas.CAMPEONATO_ANTERIOR_PARTICIPANTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAMPEONATO_ANTERIOR.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARTICIPANTE.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAMPEONATO_ANTERIOR.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARTICIPANTE.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
